@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;1,500&family=Zen+Dots&display=swap");

h1 {
    font-family: "Zen Dots", sans-serif;
    font-size: 60px;
    background-image: linear-gradient(to right, #9e1cf3, #1987bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

h2 {
    font-family: "Anybody", sans-serif;
    font-size: 35px;
    font-style: italic;
}

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-family: "Anybody", sans-serif;
    font-size: 25px;
    margin: 30px;
}

a {
    color: #ffffff;
}

i {
    color: #adadad;
}

li:not(:last-child) {
    padding-bottom: 15px;
}
